.head {
  display: flex;
  margin: 20px 20px 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}
.button__head {
  font-size: 20px;
  font-family: Cambria;
  font-weight: 800;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 130px;
  margin: 0;
  border: 3px solid #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 50px;
  margin: 0 15px;
}
.button__head--active {
  font-size: 20px;
  font-family: Cambria;
  font-weight: 800;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 130px;
  margin: 0;
  border: 3px solid #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 50px;
  margin: 0 15px;
  background: #0be881;
}
.button__head:hover {
  cursor: pointer;
  background: #ffdd59;
  transition: all 0.35s ease 0s;
}
